.index-module__ricar_tool___1x5y3 {
  position: fixed;
  width: 55px;
  height: 50px;
  cursor: pointer;
}
.index-module__ricar_tool___1x5y3 .index-module__logo___7VnZf {
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
}
.index-module__fileBox___I4tNa {
  position: absolute;
  top: -380px;
  left: -450px;
  display: flex;
  width: 500px;
  height: 350px;
  background-color: #1e1e1e;
  animation: index-module__showFileBox___X76CE 0.2s ease-in-out;
}
.index-module__fileBox___I4tNa .index-module__left___OhNNT {
  width: 180px;
  padding: 10px;
  background-color: #252526;
  overflow: auto;
}
.index-module__fileBox___I4tNa .index-module__right___Ld2-J {
  flex: 1;
}
.index-module__fileBox___I4tNa .index-module__right___Ld2-J .index-module__textEditor___kfRT1 {
  font-size: 20px;
  color: #ccc;
  width: 100%;
  height: 100%;
  padding: 10px;
  outline: none;
  resize: none;
  background-color: transparent;
  box-sizing: border-box;
}
.index-module__fileBox___I4tNa .index-module__left___OhNNT::-webkit-scrollbar,
.index-module__fileBox___I4tNa .index-module__textEditor___kfRT1::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.index-module__fileBox___I4tNa .index-module__left___OhNNT::-webkit-scrollbar-track,
.index-module__fileBox___I4tNa .index-module__textEditor___kfRT1::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 2px;
}
.index-module__fileBox___I4tNa .index-module__left___OhNNT::-webkit-scrollbar-thumb,
.index-module__fileBox___I4tNa .index-module__textEditor___kfRT1::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}
.index-module__fileBox___I4tNa .index-module__left___OhNNT::-webkit-scrollbar-thumb:hover,
.index-module__fileBox___I4tNa .index-module__textEditor___kfRT1::-webkit-scrollbar-thumb:hover {
  background: #999;
}
.index-module__fileBox___I4tNa .index-module__left___OhNNT::-webkit-scrollbar-corner,
.index-module__fileBox___I4tNa .index-module__textEditor___kfRT1::-webkit-scrollbar-corner {
  background: #505050;
}
.index-module__fileBox___I4tNa .index-module__wk-tree-treenode___8g9WV {
  display: flex;
  align-items: flex-start;
  padding: 0 0 4px;
  outline: none;
}
.index-module__fileBox___I4tNa .index-module__wk-tree-indent___SnrI- {
  align-self: stretch;
  white-space: nowrap;
  user-select: none;
}
.index-module__fileBox___I4tNa .index-module__wk-tree-indent-unit___eRyRw {
  display: inline-block;
  width: 24px;
}
.index-module__fileBox___I4tNa .index-module__wk-tree-switcher___FWCOk {
  position: relative;
  display: flex;
  flex: none;
  align-items: center;
  align-self: stretch;
  width: 10px;
  margin: 0;
  line-height: 24px;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
.index-module__fileBox___I4tNa .index-module__wk-tree-switcher-icon___01k5V {
  display: inline-block;
  vertical-align: baseline;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #cccccc;
  transition: all ease-in-out 0.1s;
  transform-origin: center left;
}
.index-module__fileBox___I4tNa .index-module__wk-tree-switcher-noop___B38ND {
  cursor: default;
}
.index-module__fileBox___I4tNa
  .index-module__wk-tree-switcher_open___Q3blq
  .index-module__wk-tree-switcher-icon___01k5V {
  transform: rotate(90deg) translateY(-2px) translate(-2px);
}
.index-module__fileBox___I4tNa .index-module__wk-tree-node-content-wrapper___Z4NHS {
  position: relative;
  z-index: auto;
  min-height: 24px;
  margin: 0;
  padding: 0 4px;
  color: inherit;
  line-height: 24px;
  background: 0 0;
  border-radius: 2px;
  color: #ccc;
  transition: all 0.3s, border 0s, line-height 0s, box-shadow 0s;
}
.index-module__fileBox___I4tNa .index-module__wk-tree-node-content-wrapper___Z4NHS:hover {
  color: #999;
  cursor: pointer;
}
.index-module__fileBox___I4tNa .index-module__wk-tree-node-content-wrapper-editor___54fVD {
  position: absolute;
  top: 50%;
  right: -11px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  transform: translateY(-4px);
}
.index-module__fileBox___I4tNa.index-module__hidden___j9xoP {
  display: none;
}
@keyframes index-module__showFileBox___X76CE {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
